<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style1.css">
</head>
<body>
  <div class="container">
    <div class="sec">
      <div class="sec-1">
        <img src="https://images.squarespace-cdn.com/content/v1/5ee8451fe87aca7a29791b4d/51d51ff3-3837-49d4-9c19-0e6d801da6d3/Screen+Shot+2021-11-11+at+1.49.55+PM.png?format=2500w" alt="not available" srcset="">

      </div>
      <div class="sec-2">
        <h2>Welcome!!<br>ComicNook<br><br>Login</h2>

        <form action="/login" method="post" class="form-container">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your name" required autocomplete="off">
          </div>
          
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" id="Password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="submit-btn">Login</button>
        </form>
        <p>Don't have an account? <br><a href="/signup">Signup</a></p>

      </div>


    </div>
   

  </div>
 
    
</body>
</html>