*{ 
  margin:0;
  padding:0;
  box-sizing: 0;
  font-family: "Poppins";
  }
  
  body {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(177,177,238);
    height: 100vh;
  }
  .container{
    display:flex;
    flex-direction: column;
    width:700px;
    height:550px;
    box-shadow: 0px 1;
    border: 2px solid black;
    background-color: rgb(139, 139, 226);
    
  }
  .sec{
    display:flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    height:440px;
    width:580px;
    border-radius:8px;
    margin-top: 50px;
    margin-left:55px;
    margin-right:10px;
    border:5px solid black;

  }
  .sec-1{
    background-image: url("https://https://images.squarespace-cdn.com/content/v1/5ee8451fe87aca7a29791b4d/51d51ff3-3837-49d4-9c19-0e6d801da6d3/Screen+Shot+2021-11-11+at+1.49.55+PM.png?format=2500w");
    width:60%;

  }
  .sec-1 img{
    width:390px;
    height:440px;

  }
  .sec-2{
    width:40%;
   
  }
  h2{
    text-align: center;
    margin-bottom: 60px;
    margin-left:15px;

  }
  .form-container{
    margin-left:20px;
    padding:5px;
    margin-bottom: 50px;
    justify-content: center;
  }
  .form-group label{
    display:block;
    font-weight: bold;
    margin-right: 50px;
    padding:5px
  
  }
  .form-group input{
    width: 70%;
    padding: 10px;
    font-size:10px;
    padding:5px;


  }
  p{
    margin-left:20px;
  }
  .submit-btn{
    display:block;
    font-weight: bold;
    margin-right: 50px;
    padding:5px;
    margin-left:60px;
    margin-top:20px;
    background-color:rgb(177,177,238) ;
 
  


    
  }
  
 